.featured-body {
    display: flex;
    justify-content: space-between;
}

.featured {

    &__generalInformation {
        display: grid;
        justify-items: center;
        padding-bottom: 55px;
       
    }

    &__form {
        
        display: flex;
        flex-direction: column;
        background-color: #FFFF;
        border-radius:20px;
        width: 670px;
        margin: 0 15px;
        position: relative;
        bottom: 45px;
       
    }

    
    &__image {
        display: flex;
        flex-direction: column;
        width: 90px;
        position: relative;
        left: 290px;
        top: 55px;
        margin: 0 0 75px;

    }

    &__first-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        font-weight: bold;
        text-align: center;
    }

    &__sun {
        position: relative;
        left: 450px;
    }

    &__wave {
        position: relative;
        bottom: 30px;
    }
}

.featured-question {

    &__first-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        text-align: center;
    }

    &__separator {
        margin: 55px auto 45px auto;
        width: 130px;
        height: 1px;
        background-color: #EEEEEE; 
    }

    &__second-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #555555;
        text-align: center;
        padding: 0 55px;
    }

    &__info {
        display: flex;
        justify-content: space-around;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #98A3B6;
    }

    &__all-info {
        display: flex;
        justify-content: space-around;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        font-weight: bold;
        p {
        margin: 0;
        }
    }

    &__button {
        height: 55px;
        background: #FFEDC2;
        border-radius: 8px;
        width: 130px;
        font-weight: bold;
        border: none;
        margin: 0 auto;
        margin-top: 55px;
     p {
            text-align: center;
            text-transform: uppercase;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
        }
    
        &:hover {
            cursor: pointer;
            background-color: 	#f2e570;
        }
    }
    }
