.purple-wave {
    background: url(/assets/images/pur-wave.png);
    height: 6%;
    background-repeat: repeat no-repeat;
    background-size: 100%;

    @include mediaMobile {
        background: url(/assets/images/pur-wave.png);
        height: 6%;
        background-repeat: repeat no-repeat;
        width: 1200px;
    }
}