@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Spline+Sans+Mono:wght@300&display=swap');
;
* {
    box-sizing: border-box;}
:root {
    --font-raleway: 'Raleway', sans-serif;
}

.about-us { 
    text-align: center;
    width: 1170px;
    padding: 0% 15%;
   
    font-family: var(--font-raleway)Open;
    left: 171px;
color: #000}


.about-us__secondary_title {
font-family: var(--font-raleway);
font-style: normal;
font-weight: 400;
font-size: 18px;
    text-align: center;
    color: #86878B;
    border: 1px

 }

.skill-list__skill-item {
    font-family: var(--font-raleway);
    margin: 10px;
	padding: 20px 10px;
	width: calc(29% - 24px);
	display: inline-block;
}


/*style the tabs*/

.tabs {
    width: 550px;
    height: 550px;
  
}

.tabs__page--active {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-size 16px;
    font-weight: 700;
    transform: uppercase;
    width: 40%;
    padding: 10px;
    list-style: none;
}
.tabs__page--active {
    border-top: 1px solid #ededee;
    border-left: 1px solid #ededee;
    border-right: 1px solid #ededee;
}
tabs-page {
width: 60%;
}

.tab-image__leftimage {
    width: 350px;
    height: 50%;
    margin-left: auto;
    padding: 0;
max-width: 100%;
display: block;
float: right;

}

.tabs-button {
    width: 370px;
    height: 80px;
    border: none;
    padding: 10px;
    border-color: transparent;
    background-color: #ec7979;
    color: #FFFFFF;
    font-size: 1.5rem;
    transition: background-color .3s ease;
    cursor: pointer;
    background-color: #9c3d3d;
}


.pricing {
    text-align: center;
    width: 1170px;
    padding: 0% 15%;
    margin: 0 auto;
    font-family: var(--font-raleway)Open;
    left: 171px;
    color: #000;
    
}
.prices-item__title {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 2px solid #F5F5F5;
    
}

.pricing__first-title {
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 36px;
text-transform: uppercase;

}



.pricing__secondary_title {
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
padding-top: 20px;
color: #86878B;
margin: 0px 0px 0px 0px;

}

.prices-item__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#333333;  
    color: white;
    border: 2px solid #F5F5F5;
} 
   



.pricing__prices-item {
    font-family: var(--font-raleway);
    margin: 25px;
    padding-bottom: 5%;
    padding-left: 0px;
    padding-right: 0%;
    padding-top: 100px;
    width: calc(29% - 24px);
    display: inline-block;    
     
}

.pricing__prices-item:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 5px 5px gray;
}

.prices-item__free-period {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items:center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    background-color: #000;
    margin: 0px 0px 0px 0px;
}


.prices-item__price {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;    
    background-color:#000;  
    color:#FFFFFF;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    border: 2px solid #F5F5F5
 }
    

  .prices-item__descr {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #86878B;
    border: 2px solid #F5F5F5;
    background-color:#FFFFFF;
    text-transform: capitalize;
    margin: 0px 0px 0px 0px;
  }

  /*customers*/

  .customers__first-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;  
    display: block;
    text-align: center;
    text-transform: uppercase;
  }

.separator {
    display: block;
    text-align: center;
}

.customers__secondary_title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-top: 20px;
    display: block;
    text-align: center;
    color: #86878B;  
}

.customers__rewiews-item {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin: 25px;
    padding-left: 0px;
    padding-right: 0%;
    padding-top: 100px;
    width: calc(29% - 24px);
    display: inline-block;
    text-align: center;
    color:#86878B;
}

.rewiews-item__feedback {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    border-radius: 10px;
    background-color:#E2E2E2;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.arr_bot {
    width: 15px;
    height: 0px;
    left: 10px;
    margin-top: 0%;
    margin-bottom: 0%;
    border: 15px solid transparent;
    border-top-color:#E2E2E2; 
    
}

