@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Spline+Sans+Mono:wght@300&display=swap');
;
* {
    box-sizing: border-box;}
:root {
    --font-raleway: 'Raleway', sans-serif;
}

.about-us { 
    text-align: center;
    width: 1170px;
    padding: 0% 15%;
    height: 150px;
    font-family: var(--font-raleway)Open;
    left: 171px;
color: #000}


.about-us__secondary_title {
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
    text-align: center;
    color: #86878B;
    border: 1px
    font-family: var(--font-raleway);
 }

.skill-list__skill-item {
    font-family: var(--font-raleway);
    margin: 10px;
	padding: 20px 10px;
	width: calc(29% - 24px);
	display: inline-block;
}
separator__image-wratter {
  position: 0 auto;  
}


/*style the tabs*/

.tabs {
    width: 550px;
    height: 550px;
  
}

.tabs__page--active {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-size 16px;
    font-weight: 700;
    transform: uppercase;
    width: 40%;
    padding: 10px;
    list-style: none;
}
.tabs__page--active {
    border-top: 1px solid #ededee;
    border-left: 1px solid #ededee;
    border-right: 1px solid #ededee;
}
tabs-page {
width: 60%;
}

.tab-image__leftimage {
    width: 350px;
    height: 50%;
    margin-left: auto;
    padding: 0;
max-width: 100%;
display: block;
float: right;

}

.tabs-button {
    width: 370px;
    height: 80px;
    border: none;
    padding: 10px;
    border-color: transparent;
    background-color: #ec7979;
    color: #FFFFFF;
    font-size: 1.5rem;
    transition: background-color .3s ease;
    cursor: pointer;
    background-color: #9c3d3d;
}

.pricing {
    text-align: center;
    width: 1170px;
    padding: 0% 15%;
    height: 150px;
    margin: 0 auto;
    display: block;
    font-family: var(--font-raleway)Open;
    left: 171px;
    color: #000
}

.pricing__first-title {
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 36px;
text-transform: uppercase;
}

.pricing__secondary_title {
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #86878B;

}

.block-desc__name {
    display: flex;
justify-content: space-between;

}
.block-desc__bazic {
    font-family: var(--font-raleway);
    margin: 10px;
    padding: 20px 10px;
    width: calc(29% - 24px);
    display: inline-block;
   
 
}

.block-desc__optima {
font-family: var(--font-raleway); 
margin: 10px;
padding: 20px 10px;
width: calc(29% - 24px);
display: inline-block;
}

.block-desc__pro {
    font-family: var(--font-raleway);
    margin: 10px;
	padding: 20px 10px;
	width: calc(29% - 24px);
	display: inline-block;
}

.block-desc__block-name {
  background-color:#000;  
  color:white
}

.block-desc__price {
    background-color:#000;  
    color:#FFFFFF;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .block-desc__free-period {
    background-color:#000;  
    color: #FFFFFF80;
    background: #333333;
border: 2px solid #F5F5F5;
text-transform: center;


  }

  .block-desc__copacity {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #86878B;
    border: 2px solid #F5F5F5

  }