@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Spline+Sans+Mono:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.separator {
  margin: 55px auto 45px auto;
  width: 170px;
  height: 1px;
}

.separator--classic {
  margin: 55px auto 45px auto;
  width: 170px;
  height: 1px;
  background-color: #FFFFFF;
}

.separator--orange {
  margin: 55px auto 45px auto;
  width: 170px;
  height: 1px;
  background-color: #EC7979;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}
@media screen and (max-width: 1199px) {
  .container {
    width: 984px;
  }
}
@media screen and (max-width: 1023px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

.about-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us {
  background-color: #fff;
  margin: 100px 0 58px 0;
}
.about-us__main-list {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}
.about-us__secondary_title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #86878B;
  text-align: center;
}
.about-us__skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -15px;
}

.skill-list__skill-item {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  max-width: 340px;
  text-align: center;
  margin: 0 15px;
}

.skill-item__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.skill-item__image--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-item__description {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.contactUs {
  background-color: #ffffff;
  padding: 100px 0 50px 0;
}
.contactUs__name {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}
.contactUs__description {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin: 55px 0 55px 0;
  color: rgb(134, 135, 139);
  text-align: center;
}
.contactUs__button {
  text-align: center;
}
.contactUs__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 58px;
  width: 370px;
  font-size: 18px;
  font-weight: 600;
  background-color: #ec7979;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: none;
}
.contactUs__link:hover {
  background-color: #ab4949;
}
.contactUs__link:active {
  background-color: #ec7979;
  -webkit-box-shadow: inset 0px 0px 5px black;
          box-shadow: inset 0px 0px 5px black;
}

.contactUs-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 50px 0;
  margin: 0 -15px;
}
.contactUs-form__data {
  margin: 0 15px;
}
.contactUs-form__name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
  display: block;
  width: 571px;
  height: 35px;
  border-bottom: solid 1px #bdbdbd;
  margin: 0 0 50px 0;
  border-left: none;
  border-top: none;
  border-right: none;
}
.contactUs-form__email {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
  display: block;
  width: 571px;
  height: 35px;
  border-bottom: solid 1px #bdbdbd;
  margin: 0 0 50px 0;
  border-left: none;
  border-top: none;
  border-right: none;
}
.contactUs-form__subject {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
  display: block;
  width: 571px;
  height: 35px;
  border-bottom: solid 1px #bdbdbd;
  border-left: none;
  border-top: none;
  border-right: none;
}
.contactUs-form__message {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #BDBDBD;
  display: block;
  margin: 0 15px;
  width: 571px;
  height: 205px;
  border-bottom: solid 1px #bdbdbd;
  resize: none;
  border-left: none;
  border-top: none;
  border-right: none;
}

/*

.customers {

    &__reviews {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    &__first-title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;  
        text-align: center;
        text-transform: uppercase;
      }

    &__secondary_title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #86878B;  
    }

    &__reviews-item {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        margin: 20px;
        width: calc(29% - 24px);
        text-align: center;
        color:#86878B;
    }
}

.reviews-item {

    &__arrow::after {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        background: #E2E2E2;;
        transform: rotate(45deg); 
    }

    &__feedback {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        border-radius: 10px;
        background-color:#E2E2E2;
        display: flex;

    }


    &__photo--avatar {
        display: block;  
        margin-right: 10px;
        width: 75px;
        }

    &__name--nameCustomers {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color:#000000;
        text-align: left;  
        }

    &__job-title--jobCustomers {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #000000;    
        }

        &__name {
            display: flex;
            flex-direction: column;
            text-align: left;
        }
}
*/
.customers {
  background-color: #ffffff;
  padding: 100px 0 64px 0;
}
.customers__first-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}
.customers__secondary-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: rgb(134, 135, 139);
  margin: 55px 0 55px 0;
}
.customers__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}
.customers__reviewsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 370px;
  margin: 0 15px;
}

.customers-reviewsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 370px;
  margin: 0 15px;
}
.customers-reviewsItem__newFeedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 38px 20px;
  background-color: #e2e2e2;
  border-radius: 10px;
  font-family: Raleway;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
  margin: 0 0 66px 0;
  position: relative;
}
.customers-reviewsItem__newFeedback::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 70px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #e2e2e2;
}
.customers-reviewsItem__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.customers-reviewsItem__avatar {
  margin: 0 15px 0 0;
}
.customers-reviewsItem__data {
  margin: 0 0 0 15px;
}
.customers-reviewsItem__name {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  display: block;
}
.customers-reviewsItem__job {
  font-size: 18px;
  color: #000000;
}

.design {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url(/assets/images/city.png);
  background: linear-gradient(rgba(0, 0, 0, 0.4)), url(/assets/images/city.png);
  background-size: cover;
  padding: 100px 0 50px 0;
}
.design__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: white;
}
.design__title::after {
  background-color: #fff;
}
.design__description {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  margin: 95px 0 73px 0;
  text-align: center;
}
.design__button {
  text-align: center;
}
.design__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 58px;
  width: 370px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  background-color: inherit;
  border: 2px solid #ffffff;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.design__link:hover {
  border: 2px solid #ec7979;
  color: #ec7979;
}
.design__link:active {
  background-color: #ab4949;
  border: 2px solid #ab4949;
  color: #ffffff;
}

.footer {
  font-family: "Raleway";
  background-color: #000000;
  padding: 20px 0 20px 0;
}
.footer__company {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.5;
  text-align: center;
}
.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 32px 0;
}
.footer__link {
  font-size: 40px;
  color: #cccccc;
  margin: 0 20px;
  padding: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer__link:hover {
  color: #fff;
}

.home {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url(/assets/images/homeSity.png);
  background: linear-gradient(rgba(0, 0, 0, 0.4)), url(/assets/images/homeSity.png);
  background-size: cover;
  height: 100vh;
}

.home-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20vh 0;
  font-family: Raleway, sans-serif;
  color: white;
  margin: 0 -15px;
}

.home-desc {
  margin: 0 15px;
}
.home-desc__logo {
  margin: 22.5px 0 72.5px 0;
}
.home-desc__first-title {
  font-family: Raleway, sans-serif;
  font-size: 48px;
  line-height: 56px;
  max-width: 640px;
  margin: 0 0 100px 0;
  position: relative;
}
.home-desc__first-title::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 170px;
  background-color: white;
  bottom: -55px;
  left: 0;
}
.home-desc__secondary-title {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  max-width: 330px;
  margin: 0 0 42px 0;
}
.home-desc__link {
  background-color: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 58px;
  width: 270px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #ffffff;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-desc__link:hover {
  border: 2px solid #ec7979;
  color: #ec7979;
}
.home-desc__link:active {
  background-color: #ab4949;
  border: 2px solid #ab4949;
  color: #ffffff;
}

.home-form {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  height: 450px;
  width: 470px;
  min-width: 400px;
  margin: 0 15px;
}
.home-form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #333333;
  padding: 20px 0;
}
.home-form__title span {
  color: #ec7979;
}
.home-form__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.home-form__input {
  border-bottom: 1px solid #bdbdbd;
  width: calc(100% - 100px);
  height: 38px;
  border-left: none;
  border-top: none;
  border-right: none;
}
.home-form__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 45px 0 0 0;
  border-left: none;
  border-top: none;
  border-right: none;
}
.home-form__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 33px 0 0 0;
  border-left: none;
  border-top: none;
  border-right: none;
}
.home-form__pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 33px 0 0 0;
  border-left: none;
  border-top: none;
  border-right: none;
}
.home-form__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ec7979;
  width: 100%;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  padding: 25px 0;
  border-radius: 0px 0px 10px 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: none;
}
.home-form__link:hover {
  background-color: #ab4949;
}
.home-form__link:active {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #ec7979;
  -webkit-box-shadow: inset 0px 0px 5px black;
          box-shadow: inset 0px 0px 5px black;
}

/*.prising--container {
    flex-direction: column;

}
.pricing {
    display: flex;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 75px;
    background: #F5F5F5;
    color: #000;

    &__first-title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        text-transform: uppercase;


        }

        &__prices-list {
            display: flex;
            justify-content: center;
        }

    &__secondary-title {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: #86878B;
            }

    &__prices-item {

            width: calc(29% - 24px);
            margin-left: 45px;
            margin-top: 45px;

            &:hover {
            transform: scale(1.2);
            transition: all 0.3s ease;
            cursor: pointer;
            box-shadow: 5px 5px gray;
            }
        }
    }

.prices-item {
    &__title {

        margin-bottom: 0px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        background-color:#333333;  
        color: white;
        border: 2px solid #F5F5F5;
    }


    &__free-period {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 15px;
        color: rgba(255, 255, 255, 0.5);
        background-color: #000;
        margin: 0px 0px 0px 0px;
}
    &__price {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;    
        background-color:#000;  
        color:#FFFFFF;
        height: 100px;
        margin: 0px 0px 0px 0px;
        border: 2px solid #F5F5F5
 }

    &__descr {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #86878B;
        border: 2px solid #F5F5F5;
        background-color:#FFFFFF;
        text-transform: capitalize;
        margin: 0px 0px 0px 0px;
  } 
}
*/
.price {
  background-color: #f5f5f5;
  padding: 100px 0 50px 0;
}
.price__first-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}
.price__secondary-title {
  margin: 55px 0 55px 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: rgb(134, 135, 139);
  text-align: center;
}
.price__prices-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin: 0 -15px;
}
.price .price-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 370px;
  background-color: #fff;
  margin: 0 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.price .price-column:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
          filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}
.price .price-column__title {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 17px 0;
  border: 1px solid #f5f5f5;
  background-color: #333333;
  margin: 0px;
}
.price .price-column__price {
  font-family: Raleway;
  padding: 31px 0;
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  border: 1px solid #f5f5f5;
  background-color: #333333;
  margin: 0px;
}
.price .price-column__free-period {
  font-family: Raleway;
  padding: 15px 0;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid #f5f5f5;
  background-color: #333333;
  margin: 0px;
}
.price .price-column__char p {
  font-family: Raleway;
  padding: 15px 0;
  font-size: 18px;
  color: #86878b;
  text-transform: capitalize;
  border: 1px solid #f5f5f5;
  background-color: #ffffff;
  margin: 0px;
}

.socialMedia {
  background-color: #f8efef;
}

.socialMedia-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 18px 0;
}

.socialMedia-desc__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 18px 0;
}

.socialMedia-desc__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: rgb(134, 135, 139);
}

.socialMedia-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.socialMedia-links__link {
  font-size: 48px;
  color: #cccccc;
  margin: 0 22.5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.socialMedia-links__link:hover {
  color: #000;
}

/* components */
.btn {
  width: 270px;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  border: none;
}

.btn-red {
  background-color: #c56565;
  color: #FFFFFF;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.btn-red:hover {
  cursor: pointer;
  background-color: #722e2e;
}

/* blocks */
.tabs {
  background: white;
}

.tabs .container {
  padding: 100px 15px;
}

.tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.tabs__item {
  position: relative;
  padding: 9px 30px;
  width: 200px;
  background: white;
  z-index: 2;
}

.tabs__item--active, .tabs__item:hover {
  top: 1px;
  cursor: pointer;
  border-top: 1px solid #C6CBCD;
  border-left: 1px solid #C6CBCD;
  border-right: 1px solid #C6CBCD;
}

.tab-item__text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

.tabs__tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #C6CBCD;
}

.tab-content__details {
  padding: 50px 30px 50px 100px;
  width: 60%;
}

.tab-content__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  margin-bottom: 55px;
}

.tab-content__descr {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 30px;
}

.tab-content__image--wrapper {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__block-image {
  width: 100%;
  height: 100%;
  max-height: 500px;
}

.header {
  position: absolute;
  width: 100%;
  background-color: #000;
  z-index: 10;
}

.header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo__logo-link {
  display: block;
  margin: 22.155px 0;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 113px;
  height: 75px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header-nav__link:hover {
  background-color: #ec7979;
}
.header-nav__link:active {
  background-color: #ab4949;
}/*# sourceMappingURL=main.css.map */