
.about-us__container {
    display: flex;
    flex-direction: column;
}
.about-us { 
    background-color: #fff;
    margin: 100px 0 58px 0;

&__main-list {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
}


&__secondary_title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
    text-align: center;
 }

 &__skill-list {
    display: flex;
    justify-content: center;
    margin: 0 -15px;
 }
}

.skill-list  {


    &__skill-item {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        max-width: 340px;
        text-align: center;
        margin: 0 15px;
}
}

.skill-item {
    
    &__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    }
}

.skill-item__image--wrapper {
    display: flex;
    justify-content: center;
}

.skill-item__description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

