

.design {

    background: linear-gradient(rgba(0, 0, 0, 0.4)), url(/assets/images/city.png);
    background-size: cover;
    padding: 100px 0 50px 0;

    &__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 36px; 
        text-align: center;
        color: white;
        &::after {
            background-color: #fff;
        }
    }

    &__description {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;
        margin: 95px 0 73px 0;
        text-align: center;
    }


    &__button {
        
    text-align: center;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 58px;
        width: 370px;
        font-size: 18px;
        line-height: 25px;
        font-weight: 600;
        background-color: inherit;
        border: 2px solid #ffffff;
        color: #ffffff;
        transition: all 0.3s ease-in-out;
        &:hover {
            border: 2px solid #ec7979;
            color: #ec7979;
        }
        &:active {
            background-color: #ab4949;
            border: 2px solid #ab4949;
            color: #ffffff;
        }
    }
}
