
/*.prising--container {
    flex-direction: column;

}
.pricing {
    display: flex;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 75px;
    background: #F5F5F5;
    color: #000;

    &__first-title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        text-transform: uppercase;

        
        }

        &__prices-list {
            display: flex;
            justify-content: center;
        }

    &__secondary-title {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: #86878B;
            }

    &__prices-item {
            
            width: calc(29% - 24px);
            margin-left: 45px;
            margin-top: 45px;

            &:hover {
            transform: scale(1.2);
            transition: all 0.3s ease;
            cursor: pointer;
            box-shadow: 5px 5px gray;
            }
        }
    }

.prices-item {
    &__title {
      
        margin-bottom: 0px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        background-color:#333333;  
        color: white;
        border: 2px solid #F5F5F5;
    }

    
    &__free-period {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 15px;
        color: rgba(255, 255, 255, 0.5);
        background-color: #000;
        margin: 0px 0px 0px 0px;
}
    &__price {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;    
        background-color:#000;  
        color:#FFFFFF;
        height: 100px;
        margin: 0px 0px 0px 0px;
        border: 2px solid #F5F5F5
 }
    
    &__descr {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #86878B;
        border: 2px solid #F5F5F5;
        background-color:#FFFFFF;
        text-transform: capitalize;
        margin: 0px 0px 0px 0px;
  } 
}
*/ 
.price {
    background-color: #f5f5f5;
    padding: 100px 0 50px 0;

    &__first-title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
    }

    &__secondary-title {
        margin: 95px 0 80px 0;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: rgba(134, 135, 139, 1);
        text-align: center
        ;
    }

    &__prices-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
        margin: 0 -15px;
    }

.price-column {
            display: flex;
            flex-direction: column;
            justify-content: end;
            width: 370px;
            background-color: #fff;
            margin: 0 15px;
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: translateY(-15px);
                filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
                
            }
            &__title {
            font-size: 24px;
            font-weight: 700;
            color: #ffffff;
            padding: 17px 0;
            border: 1px solid #f5f5f5;
            background-color: #333333;
            margin: 0px;
            }

            &__price {
                font-family: Raleway;
                padding: 31px 0;
                font-size: 36px;
                font-weight: 700;
                color: #ffffff;
                border: 1px solid #f5f5f5;
                background-color: #333333; 
                margin: 0px;  
            }

            &__free-period {
                font-family: Raleway;
                padding: 15px 0;
                font-size: 18px;
                color: rgba(255, 255, 255, 0.5);
                border: 1px solid #f5f5f5;
                background-color: #333333;
                margin: 0px;
            }

            &__char {
                p {
                    font-family: Raleway;
                    padding: 15px 0;
                    font-size: 18px;
                    color: #86878b;
                    text-transform: capitalize;
                    border: 1px solid #f5f5f5;
                    background-color: #ffffff;
                    margin: 0px;
                }
        
            }
    }


}

