

.socialMedia {
    background-color: #f8efef;
  }
  
  .socialMedia-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 18px 0;
  }
  
  .socialMedia-desc__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
         margin: 0 0 18px 0;
  }

  .socialMedia-desc__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(134, 135, 139, 1);
    ;
  }
  
  .socialMedia-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .socialMedia-links__link {
    font-size: 48px;
    color: #cccccc;
    margin: 0 22.5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .socialMedia-links__link:hover {
    color: #000;
  }